<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/Tela_Cadastro.css" />
    <title>Tela Cadastro</title>
  </head>
  <body>
    <div class="container">
      <div class="form-image">
        <img src="/imagens/WATCH DOGS.png" alt="" />
      </div>
      <div class="form">
        <form action="/usuario/cadastrar" method="post">
          <div class="form-header">
            <div class="title">
              <h1>Cadastre-se</h1>
            </div>
            <div class="login-button">
              <button><a href="login">Entrar</a></button>
            </div>
          </div>
          <div class="input-group">
            <div class="input-box">
              <label for="firstname">Primeiro nome: </label>
              <input
                type="text"
                id="nome"
                name="nome"
                placeholder="Digite seu primeiro nome"
                required
              />
            </div>

            <div class="input-box">
              <label for="lastname">Sobrenome: </label>
              <input
                type="text"
                id="sobrenome"
                name="sobrenome"
                placeholder="Digite seu sobrenome"
                required
              />
            </div>

            <div class="input-box">
              <label for="email">Email: </label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Digite seu email"
                required
              />
            </div>

            <div class="input-box">
              <label for="number">Celular: </label>
              <input
                type="tel"
                id="celular"
                name="celular"
                placeholder="(xx) xxxxx-xxxx"
                required
              />
            </div>
            
            <div class="input-box">
              <label for="number">CPF: </label>
              <input
                type="text"
                id="cpf"
                name="cpf"
                placeholder="xxx.xxx.xxx-xx"
                required
              />
            </div>
            
            <div class="input-box">
              <label for="password">Senha: </label>
              <input
                type="password"
                id="senha"
                name="senha"
                placeholder="Digite sua senha"
                required
              />
            </div>

            <div class="input-box">
              <label for="Confirmpassword">Confirme sua senha: </label>
              <input
                type="password"
                id="confirmarSenha"
                name="confirmarSenha"
                placeholder="Digite sua senha"
                required
              />
            </div>
          </div>

          <div class="gender-inputs">
            <div class="gender-title">
              <h6>Gênero</h6>
            </div>

            <div class="gender-group">
              <div class="gender-input">
                <input type="radio" id="female" name="genero" value="Feminino" />
                <label for="famale">Feminino</label>
              </div>

              <div class="gender-input">
                <input type="radio" id="Male" name="genero" value="Masculino" />
                <label for="male">Masculino</label>
              </div>

              <div class="gender-input">
                <input type="radio" id="others" name="genero" value="Outros" />
                <label for="others">Outros</label>
              </div>

              <div class="gender-input">
                <input type="radio" id="none" name="genero" value="Prefiro não dizer" />
                <label for="none">Prefiro não dizer</label>
              </div>
            </div>
          </div>

          <div class="continue-button">
            <input onclick="confirmPass()" type="submit" value="Continuar">
          </div>
        </form>
      </div>
    </div>
    
    <script src="/JS/Tela_Cadastro.js"></script>
  </body>
</html>
