<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/CSS/Tela_CadEnd.css" />
	<title>Tela Cadastro</title>
</head>

<body>
	<div class="container">
		<div class="form-image">
			<img src="/imagens/WATCH DOGS.png" alt="" />
		</div>
		<div class="form">
			<form th:action="@{/usuario/{path}/cadastrar/endereco(path=${cpf})}" method="post">
				<div class="form-header">
					<div class="title">
						<h1>Endereço</h1>
					</div>
				</div>
				<div class="input-group">
					<div class="input-box">
						<label for="firstname">CEP: </label>
						<input type="text" id="cepEnd" name="cepEnd" placeholder="xxxxx-xxx" required />
					</div>

					<div class="input-box">
						<label for="lastname">País: </label>
						<input type="text" id="paisEnd" name="paisEnd" placeholder="Seu país" required />
					</div>

					<div class="input-box">
						<label for="lastname">Estado: </label>
						<input type="text" id="estadoEnd" name="estadoEnd" placeholder="Seu estado" required />
					</div>

					<div class="input-box">
						<label for="email">Cidade: </label>
						<input type="text" id="cidadeEnd" name="cidadeEnd" placeholder="Sua cidade" required />
					</div>

					<div class="input-box">
						<label for="number">Bairro: </label>
						<input type="text" id="bairroEnd" name="bairroEnd" placeholder="Seu bairro" required />
					</div>

					<div class="input-box">
						<label for="number">Rua: </label>
						<input type="text" id="ruaEnd" name="ruaEnd" placeholder="Nome da sua rua" required />
					</div>

					<div class="input-box">
						<label for="password">Numero: </label>
						<input type="text" id="numEnd" name="numEnd" placeholder="Numero da sua casa" required />
					</div>
				</div>

				<div class="continue-button">
					<input onclick="confirmPass()" type="submit" value="Continuar" />
				</div>
			</form>
		</div>
	</div>

	<script src="/JS/Tela_Cadastro.js"></script>
</body>

</html>