<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/CSS/Tela_Perfil.css" />
	<link rel="stylesheet" href="/CSS/NavBar.css" />
	<title>Pacifier</title>
</head>

<body>
	<table>
		<tr>
			<th>CPF</th>
			<th>Nome</th>
			<th></th>
		</tr>
		<tr th:each="usuario : ${usuarios}">
			<td><span th:text="${usuario.cpf}"></span></td>
			<td><span th:text="${usuario.nome}"></span></td>
			<td></td>
		</tr>
	</table>
</body>

</html>