<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/CSS/Tela_Login.css" />
	<title>Fazer login - Pacifier</title>
</head>

<body>
	<section class="area-login">
		<div class="login">
			<div class="logo">
				<img src="/imagens/pacifier-logo.png" alt="" />
			</div>
			
			<div id="alerta" class="alert" 
          	th:style="${alerta == null} ? 'display: none' : 'display: block'" 
          	th:utext="${alerta}">
	  	  	</div>
			
			<form action="/usuario/login" method="post">
				<label for="email">E-mail: </label>
				<input type="email" name="email" th:value="${email}" placeholder="Digite seu e-mail" class="input-login" autofocus />
				<label for="senha">Senha: </label>
				<input type="password" name="senha" class="input-login" placeholder="Digite sua senha" />
				<input type="submit" value="Entrar" class="submit" />
			</form>
			<p>
				Não cadastrou-se? <a href="/usuario/cadastrar">Criar conta</a>
			</p>
		</div>
	</section>
</body>

</html>