<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/Tela_Perfil.css" />
    <link rel="stylesheet" href="../CSS/NavBar.css" />
    <title>Pacifier</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <div class="logo">
          <a href=""><img src="../imagens/Controle.png" alt="" /></a>
        </div>
        <div class="nav-list">
          <ul>
            <li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
            <li class="nav-item">
              <a href="#" class="nav-link">COMUNIDADE</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link"> OFERTAS</a></li>
          </ul>
        </div>
        <div class="login-button">
          <button><a href="#">Entrar</a></button>
        </div>

        <div class="mobile-menu-icon">
          <button onclick="menuShow()">
            <img class="icon" src="../imagens/menu_white.svg" alt="" />
          </button>
        </div>
      </nav>
      <div class="mobile-menu">
        <ul>
          <li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
          <li class="nav-item"><a href="#" class="nav-link">COMUNIDADE</a></li>
          <li class="nav-item"><a href="#" class="nav-link">OFERTAS</a></li>
        </ul>

        <div class="login-button">
          <button><a href="#">Entrar</a></button>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="container-button">
          <div class="button">
            <a href="Tela_Perfil.html"
              ><input type="button" value="Geral" class="button"
            /></a>
            <a href=""
              ><input type="button" value="Preferencias" class="button"
            /></a>
            <a href=""
              ><input type="button" value="Privacidade" class="button"
            /></a>
            <a href=""
              ><input type="button" value="Segurança" class="button"
            /></a>
            <a href="Tela_Biblioteca.html"
              ><input type="button" value="Biblioteca" class="button"
            /></a>
          </div>
        </div>
        <div class="container-ever">
          <div class="container-geral">
            <div class="title">
              <h1>Configurações gerais</h1>
            </div>
            <div class="geral">
              <p>
                Gerencie os detalhes da conta que você compartilhou com a Epic
                Games, incluindo seu nome, informações de contato e mais
              </p>
            </div>

            <div class="title">
              <h1>Informações da conta</h1>
            </div>
            <div class="geral-info">
              <form action="">
                <div class="text-info">
                  <label for="">Sua senha:</label>
                  <br />
                  <input type="password" placeholder="Senha" disabled />
                  <button type="button">Editar</button>
                </div> 
                <div class="text-info">
                  <button>Descartar Mudanças</button>
                  <button>Salvar Mudanças</button>
                </div> 
              </form>
            </div>

            <div class="title">
              <h1>Detalhes Pessoais</h1>
            </div>
            <div class="geral">
              <p>
                Gerencie seu nome e informações de contato. Essas informações
                pessoais são privadas e não serão exibidos para outros usuários.
                Veja a nossa Política de Privacidade
              </p>
            </div>

            <div class="geral-detalhe">
              <form action="">
                <div class="text-info">
                  <label for="#">Nome:</label><br />
                  <input type="text" placeholder="Nome" />
                </div>
                <div class="text-info">
                  <label for="">Sobrenome:</label><br />
                  <input type="text" placeholder="Sobrenome" />
                </div>
                <div class="text-info">
                  <label for="">CPF:</label><br />
                  <input type="text" placeholder="CPF" />
                </div>
                <div class="text-info">
                  <label for="">Telefone:</label><br />
                  <input type="text" placeholder="(xx) xxxxx-xxxx" />
                </div>
                <div class="text-info">
                  <label for="">Idioma:</label><br />
                  <input type="text" placeholder="Idioma" />
                </div>

                <div class="text-info">
                  <button>Descartar Mudanças</button>
                  <button>Salvar Mudanças</button>
                </div>
              </form>
            </div>

            <div class="geral-endereco">
              <div class="title">
                <h1>Endereço</h1>
              </div>

              <form action="">
                <div class="text-info">
                  <label for="">CEP:</label><br />
                  <input type="text" placeholder="CEP" />
                </div>
                <div class="text-info">
                  <label for="">Estado:</label><br />
                  <input type="text" placeholder="Estado" />
                </div>
                <div class="text-info">
                  <label for="">Cidade:</label><br />
                  <input type="text" placeholder="Cidade" />
                </div>
                <div class="text-info">
                  <label for="">Endereço:</label><br />
                  <input type="text" placeholder="Endereço" />
                </div>
                <div class="text-info">
                  <label for="">Numero:</label><br />
                  <input type="text" placeholder="Numero" />
                </div>
                <div class="text-info">
                  <button>Descartar Mudanças</button>
                  <button>Salvar Mudanças</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>

    <script src="../JS/NavBar.js"></script>
    <script src="../JS/Tela_Perfil.js"></script>
  </body>
</html>
