<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/CSS/Tela_Perfil.css" />
	<link rel="stylesheet" href="/CSS/NavBar.css" />
	<title>Pacifier</title>
</head>

<body>
	<header>
		<nav class="nav-bar">
			<div class="logo">
				<a href="/"><img src="/imagens/Controle.png" alt="" /></a>
			</div>
			<div class="nav-list">
				<ul>
					<li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
					<li class="nav-item">
						<a href="#" class="nav-link">COMUNIDADE</a>
					</li>
					<li class="nav-item"><a href="#" class="nav-link"> OFERTAS</a></li>
				</ul>
			</div>
			<div class="login-button">
				<button><a href="#">Entrar</a></button>
			</div>

			<div class="mobile-menu-icon">
				<button onclick="menuShow()">
					<img class="icon" src="/imagens/menu_white.svg" alt="" />
				</button>
			</div>
		</nav>
		<div class="mobile-menu">
			<ul>
				<li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
				<li class="nav-item"><a href="#" class="nav-link">COMUNIDADE</a></li>
				<li class="nav-item"><a href="#" class="nav-link">OFERTAS</a></li>
			</ul>

			<div class="login-button">
				<button><a href="#">Entrar</a></button>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<div class="container-button">
				<div class="button">
					<a th:href="@{/usuario/{cpf}(cpf=${cpf})}"><input type="button" value="Geral" class="button" /></a>
					<a href=""><input type="button" value="Preferencias" class="button" /></a>
					<a href=""><input type="button" value="Privacidade" class="button" /></a>
					<a th:href="@{/usuario/{cpf}/anuncios(cpf=${cpf})}"><input type="button" value="Meus Anúncios" class="button" /></a>
					<a th:href="@{/usuario/{cpf}/biblioteca(cpf=${cpf})}"><input type="button" value="Biblioteca" class="button" /></a>
				</div>
			</div>
			<div class="container-ever">
				<div class="container-geral">
					<div class="title">
						<h1>Configurações gerais</h1>
					</div>
					<div class="geral">
						<p>
							Gerencie os detalhes da conta que você compartilhou com a Epic
							Games, incluindo seu nome, informações de contato e mais
						</p>
					</div>

					<div class="title">
						<h1>Informações da conta</h1>
					</div>
					<div class="geral-info">

						<div class="text-info">
							<label for="">Sua senha:</label>
							<br />
							<input type="password" name="senha" th:value="${usuario.senha}" placeholder="Senha"
								disabled />
							<button type="button">Editar</button>
						</div>

						<form th:action="@{/usuario/{path}/edit(path=${cpf})}" method="get">
							<div class="text-info">
								<button>Alterar senha</button>
							</div>
						</form>
					</div>

					<div class="title">
						<h1>Detalhes Pessoais</h1>
					</div>
					<div class="geral">
						<p>
							Gerencie seu nome e informações de contato. Essas informações
							pessoais são privadas e não serão exibidos para outros usuários.
							Veja a nossa Política de Privacidade
						</p>
					</div>

					<div class="geral-detalhe">
						<div class="text-info">
							<label for="#">Nome:</label><br />
							<span th:text="${usuario.nome}"></span>
						</div>
						<div class="text-info">
							<label for="">Sobrenome:</label><br />
							<span th:text="${usuario.sobrenome}"></span>
							<div class="text-info">
								<label for="">Email:</label><br />
								<span th:text="${usuario.email}"></span>
							</div>
						</div>
						<div class="text-info">
							<label for="">CPF:</label><br />
							<span th:text="${usuario.cpf}"></span>
						</div>
						<div class="text-info">
							<label for="">Telefone:</label><br />
							<span th:text="${usuario.celular}"></span>
						</div>

						<form th:action="@{/usuario/{path}/edit(path=${cpf})}" method="get">
							<div class="text-info">
								<button>Alterar informações</button>
							</div>
						</form>
					</div>

					<div class="geral-endereco">
						<div class="title">
							<h1>Endereço</h1>
						</div>

						<form th:action="@{/usuario/{path}/edit(path=${cpf})}" method="get">
							<div class="text-info">
								<label for="">CEP:</label><br />
								<span th:text="${endereco.cep_end} ?: 'Não definido'"></span>
							</div>
							<div class="text-info">
								<label for="">Estado:</label><br />
								<span th:text="${endereco.estado_end} ?: 'Não definido'"></span>
							</div>
							<div class="text-info">
								<label for="">Cidade:</label><br />
								<span th:text="${endereco.cidade_end} ?: 'Não definido'"></span>
							</div>
							<div class="text-info">
								<label for="">Bairro:</label><br />
								<span th:text="${endereco.bairro_end} ?: 'Não definido'"></span>
							</div>
							<div class="text-info">
								<label for="">Rua:</label><br />
								<span th:text="${endereco.rua_end} ?: 'Não definido'"></span>
							</div>
							<div class="text-info">
								<label for="">Numero:</label><br />
								<span th:text="${endereco.num_end} ?: 'Não definido'"></span>
							</div>

							<div class="text-info">
								<button>Alterar informações</button>
							</div>
						</form>
					</div>
					<br><br>

					<!-- Arrumar o style desse botão! -->
					<div class="delete">
						<form th:action="@{/usuario/{path}/deletar(path=${cpf})}" method="get">
							<button>Deletar conta</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer></footer>

	<script src="/JS/NavBar.js"></script>
	<script src="/JS/Tela_Perfil.js"></script>
</body>

</html>