<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<link rel="stylesheet" href="/CSS/Tela_Biblioteca.css" />
	<link rel="stylesheet" href="/CSS/NewNavBar.css" />

	<title>Minhas compras - Pacifier</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="logo navbar-brand" th:href="@{/home/{cpf} (cpf=${cpf})}"><img src="/imagens/pacifier-logo.png"
						alt="" /></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="colorFont nav-link" aria-current="page"
								th:href="@{/usuario/{cpf}/mais/anuncios (cpf=${cpf})}">Ofertas</a>
						</li>
						<li class="nav-item">
							<a class="colorFont nav-link"
								th:href="@{/usuario/{cpf}/mais/trocas (cpf=${cpf})}">Trocas</a>
						</li>
						<li class="nav-item">
							<a class="car nav-link" th:href="@{/usuario/{cpf}/carrinho(cpf=${cpf})}"><img
									src="/imagens/CarrinhoCompra.png" alt="" /></a>
						</li>

						<!-- Botão de login -->
						<li class="nav-item">
							<div class="login-button">
								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button"
										data-bs-toggle="dropdown" aria-expanded="false">
										<img src="/imagens/foto_perfil.png" alt="" />
									</button>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" th:href="@{/usuario/{cpf}(cpf=${cpf})}">Perfil</a>
										</li>
										<li>
											<a class="dropdown-item"
												th:href="@{/usuario/{cpf}/biblioteca(cpf=${cpf})}">Sua biblioteca</a>
										</li>
										<li>
											<a class="dropdown-item"
												th:href="@{/usuario/{cpf}/anunciar(cpf=${cpf})}">Anunciar</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>

					<!-- Barra de pesquisa -->
					<form th:action="@{/usuario/{cpf}/pesquisar(cpf=${cpf})}" method="post" class="d-flex"
						role="search">
						<input class="form-control me-2" type="search" name="nomeAnuncio"
							placeholder="Buscar produtos..." aria-label="Search" />

						<!-- Botão de pesquisa -->
						<button class="btn btn-outline-success" type="submit">
							Pesquisar
						</button>
					</form>
				</div>
			</div>
		</nav>
		<div class="w3-sidebar w3-bar-block w3-border-right" style="display: none" id="mySidebar">
			<button onclick="w3_close()" class="w3-bar-item w3-large">
				Fechar &times;
			</button>
			<a th:href="@{/usuario/{cpf}(cpf=${cpf})}" class="w3-bar-item w3-button">Geral</a>
			<a th:href="@{/usuario/{cpf}/compras (cpf=${cpf})}" class="w3-bar-item w3-button">Minhas compras</a>
			<a th:href="@{/usuario/{cpf}/trocas(cpf=${cpf})}" class="w3-bar-item w3-button">Minhas trocas</a>
			<a th:href="@{/usuario/{cpf}/anuncios(cpf=${cpf})}" class="w3-bar-item w3-button">Meus anúncios</a>
			<a th:href="@{/usuario/{cpf}/biblioteca(cpf=${cpf})}" class="w3-bar-item w3-button">Biblioteca</a>
		</div>

		<!-- Page Content -->
		<div class="">
			<button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">
				☰
			</button>
		</div>
	</header>

	<main>
		<!-- Container da biblioteca -->
		<div class="container-biblioteca">
			<br />
			<!-- Div para add cor ao fundo dos jogos -->
			<div class="container-color">
				<!-- Jogos que aparecerão na biblioteca -->
				<section class="container-produto">
					<div class="row row-cols-2 row-cols-md-5 g-4">
						<div th:each="itensPedido : ${itensPedido}" class="col">
							<div class="card h-100">
								<img th:src="${itensPedido.anuncio.imagem.url}" class="card-img-top" alt="..." />
								<div class="card-body">
									<h5 class="card-title">
										<span th:text="${itensPedido.anuncio.nomeAnuncio}"></span>
									</h5>
									<p class="card-text">
										Quant: <span th:text="${itensPedido.quantidade}"></span>
									</p>
									<p class="card-text">
										Valor: R$ <span th:text="${itensPedido.preco}"></span>
									</p>
									<!--
									<form
										th:action="@{/usuario/{cpf}/anuncio/{codAnuncio}/comentar (cpf=${cpf}, codAnuncio=${itensPedido.anuncio.codAnuncio})}"
										method="get">
										<input class="btn btn-primary" type="submit" value="Avaliar" />
									</form>
									-->
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>
	<footer></footer>
	<script>
		function w3_open() {
			document.getElementById("mySidebar").style.display = "block";
		}

		function w3_close() {
			document.getElementById("mySidebar").style.display = "none";
		}
	</script>
	<script src="/JS/NavBar.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>