<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/CSS/Tela_Produto.css" />
	<link rel="stylesheet" href="/CSS/NewNavBar.css" />
	<link rel="stylesheet" href="/slick/slick.css">
	<link rel="stylesheet" href="/slick/slick-theme.css">

	<title th:text="'Troca por ' + ${troca.nomeTroca} + ' - Pacifier'"></title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="logo navbar-brand" th:href="@{/home/{cpf} (cpf=${cpf})}"><img src="/imagens/pacifier-logo.png"
						alt="" /></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="colorFont nav-link" aria-current="page"
								th:href="@{/usuario/{cpf}/mais/anuncios (cpf=${cpf})}">Ofertas</a>
						</li>
						<li class="nav-item">
							<a class="colorFont nav-link"
								th:href="@{/usuario/{cpf}/mais/trocas (cpf=${cpf})}">Trocas</a>
						</li>
						<li class="nav-item">
							<a class="car nav-link" th:href="@{/usuario/{cpf}/carrinho(cpf=${cpf})}"><img
									src="/imagens/CarrinhoCompra.png" alt="" /></a>
						</li>

						<!-- Botão de login -->
						<li class="nav-item">
							<div class="login-button">
								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button"
										data-bs-toggle="dropdown" aria-expanded="false">
										<img src="/imagens/foto_perfil.png" alt="" />
									</button>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" th:href="@{/usuario/{cpf}(cpf=${cpf})}">Perfil</a>
										</li>
										<li>
											<a class="dropdown-item"
												th:href="@{/usuario/{cpf}/biblioteca(cpf=${cpf})}">Sua biblioteca</a>
										</li>
										<li>
											<a class="dropdown-item"
												th:href="@{/usuario/{cpf}/anunciar(cpf=${cpf})}">Anunciar</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>

					<!-- Barra de pesquisa -->
					<form th:action="@{/usuario/{cpf}/pesquisar(cpf=${cpf})}" method="post" class="d-flex"
						role="search">
						<input class="form-control me-2" type="search" name="nomeAnuncio"
							placeholder="Buscar produtos..." aria-label="Search" required />

						<!-- Botão de pesquisa -->
						<button class="btn btn-outline-success" type="submit">
							Pesquisar
						</button>
					</form>
				</div>
			</div>
		</nav>
	</header>
	<main>
		<section class="containerProduto justify-content-center" style="width: 92%; margin-left: 5%;">
			<div class="card " style="width: 32.8%">
				<img th:src="${troca.cad_produto.produto.imagem.url}"
					class="card-img-top w-50 d-block mx-auto justify-content-center" style="margin-top: 1em;" alt="..." />
				<div class="card-body w-100">
					<h5 class="card-title text-center">
						<span th:text="${troca.nomeTroca}"></span>
					</h5>
					<form th:action="@{/usuario/{cpf}/trocar/{codTroca}/finalizar (cpf=${cpf}, codTroca=${codTroca})}"
						method="get">
						<div class="d-grid gap-2 col-6 mx-auto">
							<button th:disabled="${naoPodeTrocar}" class="botao btn btn-primary" type="submit">
								Trocar
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="card mx-4" style="width: 44%">
				<div class="card-body ">
					<h5 class="card-title text-center">
						<span th:text="'Anunciante: ' + ${usuario.nome}"></span>
					</h5>
					<h5 class="card-title text-center">Produtos para troca:</h5>
					<br />
					<div class="row row-cols-1 row-cols-md-3" style="width: 100%;">
						<div class="col mb-4" th:each="item_troca, iStat: ${itens_troca}">
							<div class="card h-100">
								<img th:src="${item_troca.produto.imagem.url}" class="card-img-top" alt="..." />
								<div class="card-body">
									<h5 class="card-title"><span th:text="${item_troca.produto.nomeProd}"></span></h5>
									<span
										th:text="${(#lists.contains(produtosUsuario, item_troca.produto)) ? 'Voce tem!' : 'Voce não tem'}"
										class="card-text"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="containerDescricao" style="width: 72.4%; margin-left: 14%;">
			<div class="card">
				<div class="card-header">Descrição</div>
				<div class="card-body">
					<h5 class="card-title">
						<span th:text="${troca.nomeTroca}"></span>
					</h5>
					<p class="card-text">
						<span th:text="${troca.descTroca}"></span>
					</p>
				</div>
			</div>
		</section>

		<section class="containerProdutos" style="width: 77%; margin-left: 12%;">
			<div class="tituloProduto" style="margin-left: 3%; margin-bottom: 1em;">Similiares</div>
			<div id="trocas" class="container" style="padding-left: 3%; margin-left: 1em;">
				<div th:each="trocas: ${trocas}">
					<a th:href="@{/usuario/{cpf}/troca/{codTroca} (cpf=${cpf}, codTroca=${trocas.codTroca})}"
						style="text-decoration: none; color: black;">
						<div class="card" style="width: 85%;">
							<img th:src="${trocas.cad_produto.produto.imagem.url}" class="card-img-top"
								style="width: 100%; height:75%; max-height:290px; min-height:290px;" alt="..." />
							<div class="card-body">
								<h5 class="card-title">
									<span th:text="${trocas.nomeTroca}"></span>
								</h5>
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
	</main>
	<footer></footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/JS/jquery-3.6.4.js"></script>
	<script src="/slick/slick.min.js"></script>
	<script>
		$(document).ready(() => {
			$("#trocas").slick({
				infinite: false,
				slidesToShow: 3,
				slidesToScroll: 3,
			});
		});
	</script>
</body>

</html>