<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/CSS/Tela_ProcuraProduto.css" />
	<link rel="stylesheet" href="/CSS/NewNavBar.css" />
	<title>Nova troca - Pacifier</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="logo navbar-brand" th:href="@{/home/{cpf} (cpf=${cpf})}"><img src="/imagens/pacifier-logo.png"
						alt="" /></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="colorFont nav-link" aria-current="page" th:href="@{/usuario/{cpf}/mais/anuncios (cpf=${cpf})}">Ofertas</a>
						</li>
						<li class="nav-item">
							<a class="colorFont nav-link" th:href="@{/usuario/{cpf}/mais/trocas (cpf=${cpf})}">Trocas</a>
						</li>
						<li class="nav-item">
							<a class="car nav-link" th:href="@{/usuario/{cpf}/carrinho(cpf=${cpf})}"><img
									src="/imagens/CarrinhoCompra.png" alt="" /></a>
						</li>

						<!-- Botão de login -->
						<li class="nav-item">
							<div class="login-button">
								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button"
										data-bs-toggle="dropdown" aria-expanded="false">
										<img src="/imagens/foto_perfil.png" alt="" />
									</button>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" th:href="@{/usuario/{cpf}(cpf=${cpf})}">Perfil</a>
										</li>
										<li>
											<a class="dropdown-item"
												th:href="@{/usuario/{cpf}/biblioteca(cpf=${cpf})}">Sua biblioteca</a>
										</li>
										<li>
											<a class="dropdown-item"
												th:href="@{/usuario/{cpf}/anunciar(cpf=${cpf})}">Anunciar</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>

					<!-- Barra de pesquisa -->
					<form th:action="@{/usuario/{cpf}/pesquisar(cpf=${cpf})}" method="post" class="d-flex"
						role="search">
						<input class="form-control me-2" type="search" name="nomeAnuncio"
							placeholder="Buscar produtos..." aria-label="Search" required/>

						<!-- Botão de pesquisa -->
						<button class="btn btn-outline-success" type="submit">
							Pesquisar
						</button>
					</form>
				</div>
			</div>
		</nav>
	</header>
	<main>
		<!-- Section de pesquisar -->
		<section>
			<!-- Titulo do Pesquisar -->
			<div class="tituloPesquisar">
				<label for="">Pesquise por qual quer trocar:</label>
			</div>

			<!-- Pesquisar -->
			<div class="pesquisar">
				<form th:action="@{/usuario/{cpf}/trocar/{codCadProd}/pesquisar(cpf=${cpf}, codCadProd=${codCadProd})}"
					method="post">
					<input type="text" placeholder="Pesquisar" name="nomeProd" required/>
					<input type="submit" value="Pesquisar" />
				</form>
			</div>
		</section>


		<!-- Section de produtos -->
		<section>
			<!-- Titulo do Produto -->
			<div class="tituloProduto">Sua Pesquisa:</div>

			<!-- Produtos -->
			<div class="row row-cols-2 row-cols-md-5 g-4 produto">
				<div class="col" th:each="produtos: ${produtos}">

					<div class="card h-100">
						<img th:src="${produtos.imagem.url}" class="card-img-top" alt="..." />
						<div class="card-body">
							<h5 class="card-title">
								<span th:text="${produtos.nomeProd}"></span>
							</h5>
							<p class="card-text">
								<span th:text="'Valor médio: R$ ' + ${produtos.valorProd}"></span>
							</p>
							<p class="card-text">
								<span th:text="${produtos.descProd}"></span>
							</p>
							<form
								th:action="@{/usuario/{cpf}/trocar/{codCadProd}/adicionar/{codProd}(cpf=${cpf}, codProd=${produtos.codProd}, codCadProd=${codCadProd})}"
								method="post">
								<button class="btn btn-primary" type="submit">Adicionar</button>
							</form>
						</div>

					</div>

				</div>
			</div>
		</section>

		<section class="ctn">
			<div class="card">
				<div class="card-header">
					Avançar
				</div>
				<div class="card-body">
					<h5 class="card-title">Após escolher todos os produtos, clique em CONTINUAR para avançar para
						proxima etapa</h5>
					<p class="card-text">
					<div class="row row-cols-1 row-cols-md-3 g-4">
						<div th:each="item: ${itens}" class="col">
							<div class="card h-100" style="width: 10rem;">
								<img th:src="${item.produto.imagem.url}" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 th:text="${item.produto.nomeProd}" class="card-title"></h5>
								</div>
							</div>
						</div>

						<!--
						<div class="col">
							<div class="card h-100" style="width: 10rem;">
								<img src="/imagens/ALIEN.png" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Alien Isolation</h5>
									<p class="card-text">Alien Isolation</p>
								</div>
							</div>
						</div>
						-->
					</div>
					</p>
					<form
						th:action="@{/usuario/{cpf}/trocar/{codCadProd}/cadastrar (cpf=${cpf}, codCadProd=${codCadProd})}"
						method="get">
						<button class="btn btn-primary" type="submit">Continuar</button>
					</form>
				</div>
			</div>
		</section>

	</main>
	<footer></footer>
	<script src="/JS/NavBar.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>