* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  letter-spacing: 0.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 18, 18);
}

.container {
  width: 70%;
  height: 82%;
  display: flex;
  box-shadow: 5px 5px 10px rgb(12, 11, 11);
  border-radius: 3rem;
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202124;
  padding: 1rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

.form-image img {
  width: 20rem;
  border-radius: 3rem;
}

.form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #202124;
  padding: 3rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.login-button {
  display: flex;
  align-items: center;
}

.login-button button {
  border: none;
  background-color: red;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-button button:hover {
  background-color: rgb(255, 29, 29);
}

.login-button button a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.form-header h1 {
  /* color: rgb(235, 235, 235); */
  color: #eeeeee;
}

.form-header h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: red;
  margin: 0 auto;
  position: absolute;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
}

.input-box input:hover {
  background-color: rgb(218, 218, 218);
}

.input-box input:focus-visible {
  outline: 1px solid black;
}

.input-box label,
.gender-title h6 {
  font-size: 0.8rem;
  font-weight: 600;
  color: #eeeeee;
}

.input-box input::placeholder {
  color: black;
}

.gender-group {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 0.2rem;
}

.gender-input {
  display: flex;
  align-items: center;
}

.gender-input input {
  margin-right: 0.2rem;
}

.gender-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #eeeeee;
}

.continue-button input {
  width: 100%;
  margin-top: 2.5rem;
  border: none;
  background-color: red;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;

  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: white;
}

.continue-button input:hover {
  background-color: rgb(255, 29, 29);
}

/* .continue-button button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: white;
} */

@media screen and (max-width: 1330px) {
  .form-image {
    display: none;
  }

  .container {
    width: 50%;
  }

  .form {
    width: 100%;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
  }
}

@media screen and (max-width: 1064px) {
  .container {
    width: 90%;
    height: auto;
  }

  .input-group {
    flex-direction: column;
    overflow-y: scroll;
    flex-wrap: nowrap;
    max-height: 10rem;
    padding-right: 5rem;
  }

  .gender-inputs {
    margin-top: 2rem;
  }

  .gender-group {
    flex-direction: column;
  }

  .gender-input {
    margin-top: 0.5rem;
  }
}
