@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgb(18, 18, 18);
}

.alert {
	display: none;
	color: #58151c;
	background-color: #ea868f;
	margin: 0.6rem 0;
  	padding: 0.8rem 1.2rem;
  	width: 100%;
  	border: none;
  	border-radius: 10px;
  	box-shadow: 1px 1px 1px black;
}

.area-login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202124;
  width: 30%;
  height: 60%;
  padding: 2em;
  border-radius: 2em;
}

.login form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login input {
  margin-top: 1em;
  border: none;
  padding-left: 1.5em;
  height: 3em;
  outline: none;
  border-radius: 0.5em;
}

.logo img {
  width: 6em;
}

.login input::placeholder {
  font-size: 1em;
}

.login label {
  color: #eeeeee;
  margin-top: 1.2em;
}

.input-login:hover {
  background-color: rgb(218, 218, 218);
}

.submit {
  background-color: red;
  color: #eeeeee;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(255, 29, 29);
}

p {
  color: #eeeeee;
}

a {
  color: red;
  text-decoration: none;
  margin-left: 0.3em;
}

a:hover {
  color: black;
}

@media screen and (max-width: 1100px) {
  .login {
    width: 40%;
  }
}

@media screen and (max-width: 830px) {
  .login {
    width: 60%;
  }
}
