@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

/*Body*/
body {
  background-color: rgb(18, 18, 18);
}

/*Header*/
header {
  background-color: #24252a;
}

/* Container de tudo */
.container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #fff;
  border-bottom: 2px solid #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.conteiner-button-radio {
	margin: 1rem;
}

.button-radio {
	width: 2rem;
	
}