@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

/*Body*/
body {
  background-color: rgb(18, 18, 18);
}

/*Header*/
header {
  background-color: #24252a;
}

/* Titulo do pesquisar */
.tituloPesquisar label {
  color: white;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 0.8em;
}

/* Pesquisar */
.pesquisar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Configuração do input de texto */
.pesquisar input[type="text"] {
  padding: 0.8em;
  width: 35em;
  margin-bottom: 5em;
  border-radius: 2em;
}

/* Configuração do input de submit */
.pesquisar input[type="submit"] {
  padding: 0.8em;
  width: 8em;
  margin-bottom: 5em;
  border-radius: 2em;
}

/* Titulo do Produto */
.tituloProduto {
  color: white;
  font-size: 1.2em;
  margin-left: 3em;
  margin-bottom: 1.5em;
}

/* Produtos */
.produto {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

.produto a {
  color: inherit;
  text-decoration: none;
}

/* Input de quantidade */
.card-body input[type="number"] {
  margin-bottom: 1em;
  max-width: 9em;
}

/* Não encontrou produto */
.naoEncontrou {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container de avançar para proxima etapa */
.ctn {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}
