@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 18, 18);
}

.alert {
	display: none;
	color: #58151c;
	background-color: #ea868f;
	margin: 0.6rem 0;
  	padding: 0.8rem 1.2rem;
  	border: none;
  	border-radius: 10px;
  	box-shadow: 1px 1px 1px black;
}

header {
  background-color: #24252a;
}

.container-ever {
  background-color: #202124;
  border-radius: 2em;
  margin: 2.5em;
  padding: 2.5em;
}

.title {
  font-size: 1em;
  font-weight: bold;
  color: #eeeeee;
}

.geral {
  margin-top: 1em;
  font-size: 0.9em;
  color: #eeeeee;
  margin-bottom: 2.8em;
}

.title {
  margin-top: 2em;
}

.text-info {
  margin-top: 1em;
}

.text-info input {
  width: 15em;
  height: 2em;
  border-radius: 0.5em;
}

.text-info input::placeholder {
  padding: 0.8em;
}

.text-info button[type="button"] {
  width: 4em;
  height: 2em;
  border-radius: 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}

.text-info button {
  width: 8em;
  height: 3em;
  border-radius: 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}

.delete button {
  width: 8em;
  height: 3em;
  border-radius: 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(255, 128, 128);
}

.text-info label {
  color: #eeeeee;
}

.button input {
  width: 100%;
  height: 52%;
}
