@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 18, 18);
}

header {
  background-color: #24252a;
}

.container {
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
}

.button {
  color: white;
  background-color: #24252a;
  border-color: rgb(48, 48, 48);
}

.button:hover {
  background-color: rgb(54, 54, 54);
  cursor: pointer;
}

.container-ever {
  background-color: #202124;
  border-radius: 2em;
}

.container-button {
  display: flex;
  align-items: left;
  justify-content: left;
  float: left;
  margin-right: 3em;
}

.container-geral {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

.title {
  font-size: 1em;
  font-weight: bold;
  color: #eeeeee;
}

.geral {
  margin-top: 1em;
  font-size: 0.9em;
  color: #eeeeee;
  margin-bottom: 2.8em;
}

.title {
  margin-top: 2em;
}

.text-info {
  margin-top: 1em;
}

.text-info input {
  width: 15em;
  height: 2em;
  border-radius: 0.5em;
}

.text-info input::placeholder {
  padding: 0.8em;
}

.text-info button[type="button"] {
  width: 4em;
  height: 2em;
  border-radius: 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}

.text-info button {
  width: 8em;
  height: 3em;
  border-radius: 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}

.delete button {
	width: 8em;
  	height: 3em;
  	border-radius: 0.5em;
  	font-size: 0.8em;
  	font-weight: bold;
  	cursor: pointer;
  	background-color: rgb(255, 128, 128);
}

/* .geral-detalhe button {
  width: 12em;
  height: 2em;
  border-radius: 0.7em;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}

.geral-endereco button {
  width: 12em;
  height: 2em;
  border-radius: 0.7em;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
} */

.text-info label {
  color: #eeeeee;
}

.button input {
  width: 100%;
  height: 52%;
}

.container-ever {
  display: flex;
  align-items: center;
  justify-content: center;
}
