@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(22, 22, 22); */
  /* background-color: #202124; */
}

/*Cor de fundo*/
body {
  background-color: #202124;
}

/*Banner*/
header {
  background: url(../imagens/ImgFundo.jpg) no-repeat center;
  background-size: 150%;
}

/* Logo (controle) */
/* .logo img {
  position: relative;
  top: 20px;
  width: 6%;
  float: left;
  margin-left: 2em;
} */

/* Menu de controle */
.menu {
  text-align: right;
  background: url(../imagens/ImgFundo.jpg) no-repeat center;
  background-size: 130%;
  border: 2px solid black;
  padding: 0.02em;
}

.nav-header {
  margin-top: 1.3em;
}

.menu nav li {
  display: inline;
  padding: 22px;
}

.menu nav a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.menu nav a:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

/* Botão pesquisa */
.menu nav img {
  width: 2%;
}

/* Nome do site menu */
.nameSite {
  text-align: center;
  color: white;
  font-size: 5em;
  font-weight: bold;
  margin-top: 1em;
  text-shadow: 7px 7px 7px black;
}

/* Texto escrito abaixo do nome */
.frase {
  text-align: center;
  color: white;
  font-size: 2em;
  margin: 5px 45px 10px 35px;
  text-shadow: 8px 8px 8px black;
}

.titleDes {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  color: white;
  margin-top: 1em;
}

/* Pesquisa menu */
.search {
  display: flex;
  justify-content: center;
}

.search input {
  padding: 0.9rem;
  width: 52rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 1px 1px 1px black;
  margin-top: 2em;
  margin-bottom: 5em;
}

.search input:hover {
  background-color: rgb(236, 236, 236);
  transition: 0.3s;
}

/*Carousel*/
.carousel-inner {
  width: 55em;
  border-radius: 1em;
}

.carousel {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.carousel img {
  border-radius: 1em;
}

/* Titulo de serviços */
.title {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  color: white;
}

/* Jogos em ofertas */
.caixaOferta {
  text-align: center;
  padding: 35px;
}

.caixaOferta tr td {
  border-radius: 10px;
}

.caixaOferta figcaption {
  font-size: 1.3em;
  font-weight: bold;
  color: white;
}

.caixaOferta p {
  font-size: 16px;
  text-align: right;
  margin-right: 36px;
  color: white;
}

.caixaOferta s {
  color: gray;
}

.caixaOferta img {
  border-radius: 10px;
  width: 75%;
}

.caixaOferta img:hover {
  transform: scale(1.04, 1.04);
  transition: 0.1s;
}

/* Jogos em listas */

/* Configuração do titulo */
.titleList {
  text-align: left;
  margin-left: 0.8em;
  margin-bottom: 0.8em;
  font-weight: bold;
  font-size: 3em;
  color: white;
}

.legend {
  font-size: 25px;
  color: white;
  font-family: "Arial";
  font-weight: bold;
}

.lists {
  text-align: center;
}

/* Primeira Lista */
.listOne {
  /* align-items: left; */
  /* text-align: left; */
  display: inline-block;
  list-style: none;
}

.listOne img {
  width: 10em;
  margin-bottom: 1.2em;
  border-radius: 0.5em;
}

.listOne li {
  list-style: none;
}

.listOne a {
  text-decoration: none;
}

/* Segunda Lista */
.listTwo {
  /* align-items: right; */
  /* text-align: left; */
  display: inline-block;
}

.listTwo img {
  width: 10em;
  margin-bottom: 1.2em;
  border-radius: 0.5em;
}

.listTwo li {
  list-style: none;
}

.listTwo a {
  text-decoration: none;
}

/* Configuração da Imagem */
.order {
  display: flex;
  align-items: center;
}

.order:hover {
  transform: scale(1.04);
  transition: 0.1s;
  background-color: gray;
  border-radius: 1em;
}

/* Area de serviços */
.serv {
  text-align: center;
  display: inline;
}

.serv ul li {
  padding: 1em;
  display: inline;
}

.serv img {
  border-radius: 12px;
}

.serv img:hover {
  transform: scale(1.05, 1.05);
  transition: 0.1s;
}

/* Cor de fundo contatos */
.backColor {
  background-color: rgb(22, 22, 22);
  border: 2px solid white;
}

/* Titulo contatos */
.titleCont {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}

/* Area de contatos */
.caixaCont li {
  text-align: center;
  list-style: none;
  color: white;
}

.caixaCont p {
  color: white;
  margin-left: 160px;
  margin-right: 160px;
}
