<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/CSS/Tela_Biblioteca.css" />
	<link rel="stylesheet" href="/CSS/NewNavBar.css" />

	<title>Pacifier</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="logo navbar-brand" th:href="@{/home/{cpf} (cpf=${cpf})}"><img src="/imagens/Controle.png"
						alt="" /></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="colorFont nav-link" aria-current="page" href="#">Comunidade</a>
						</li>
						<li class="nav-item">
							<a class="colorFont nav-link" href="#">Contato</a>
						</li>
						<li class="nav-item">
							<a class="car nav-link" th:href="@{/usuario/{cpf}/carrinho(cpf=${cpf})}"><img
									src="/imagens/CarrinhoCompra.png" alt="" /></a>
						</li>

						<!-- Botão de login -->
						<li class="nav-item">
							<div class="login-button">
								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button"
										data-bs-toggle="dropdown" aria-expanded="false">
										<img src="/imagens/foto_perfil.png" alt="" />
									</button>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" th:href="@{/usuario/{cpf}(cpf=${cpf})}">Perfil</a>
										</li>
										<li>
											<a class="dropdown-item"
												th:href="@{/usuario/{cpf}/biblioteca(cpf=${cpf})}">Sua biblioteca</a>
										</li>
										<li>
											<a class="dropdown-item"
												th:href="@{/usuario/{cpf}/anunciar(cpf=${cpf})}">Anunciar</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>

					<!-- Barra de pesquisa -->
					<form th:action="@{/usuario/{cpf}/pesquisar(cpf=${cpf})}" method="post" class="d-flex"
						role="search">
						<input class="form-control me-2" type="search" name="nomeAnuncio"
							placeholder="Buscar produtos..." aria-label="Search" />

						<!-- Botão de pesquisa -->
						<button class="btn btn-outline-success" type="submit">
							Pesquisar
						</button>
					</form>
				</div>
			</div>
		</nav>
	</header>

	<main>
		<!-- Container da nav-bar lateral -->
		<div class="nav-lateral">
			<div class="container-button">
				<div class="button">
					<a href="Tela_Perfil.html"><input type="button" value="Geral" class="button" /></a>
					<a href=""><input type="button" value="Preferencias" class="button" /></a>
					<a href=""><input type="button" value="Privacidade" class="button" /></a>
					<a href=""><input type="button" value="Segurança" class="button" /></a>
					<a href="Tela_Biblioteca.html"><input type="button" value="Biblioteca" class="button" /></a>
				</div>
			</div>
		</div>

		<div class="color">
			<!-- Container da biblioteca -->
			<div class="container-biblioteca">
				<br />
				<!-- Div para add cor ao fundo dos jogos -->
				<div class="container-color">
					<!-- Jogos que aparecerão na biblioteca -->
					<section class="container-picture">
						<!-- Primeiro jogo -->
						<div class="picture">
							<a href=""><img src="/imagens/ALIEN.png" alt="" /></a>
						</div>
						<!-- Segundo jogo -->
						<div class="picture">
							<a href=""><img src="/imagens/BATTLE V.png" alt="" /></a>
						</div>
						<!-- Terceiro jogo -->
						<div class="picture">
							<a href=""><img src="/imagens/CALL BO.jpg" alt="" /></a>
						</div>
						<!-- Quarto jogo -->
						<div class="picture">
							<a href=""><img src="/imagens/GTA V.png" alt="" /></a>
						</div>
						<!-- Quinto jogo -->
						<div class="picture">
							<a href=""><img src="/imagens/FIFA.png" alt="" /></a>
						</div>
					</section>
				</div>
			</div>
		</div>
		<!-- Botões de Excluir e Cadastrar -->
		<section class="container-button">
			<!-- Botão de Cadastrar -->
			<div>
				<label for="#">Cadastrar jogo: </label><br />
				<a href=""><button>Cadastrar</button></a>
			</div>
		</section>
	</main>
	<footer></footer>
	<script src="/JS/NavBar.js"></script>
</body>

</html>