<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/CSS/Tela_ProcuraProduto.css" />
	<link rel="stylesheet" href="/CSS/NavBar.css" />
	<title>Pacifier</title>
</head>

<body>
	<header>
		<nav class="nav-bar">
			<div class="logo">
				<a th:href="@{/home/{cpf}(cpf=${cpf})}"><img src="/imagens/Controle.png" alt="" /></a>
			</div>
			<div class="nav-list">
				<ul>
					<li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
					<li class="nav-item">
						<a href="#" class="nav-link">COMUNIDADE</a>
					</li>
					<li class="nav-item"><a href="#" class="nav-link">CONTATO</a></li>
				</ul>
			</div>
			<div class="login-button">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						<img src="/imagens/foto_perfil.png" alt="" />
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Perfil</a></li>
						<li><a class="dropdown-item" href="#">Sua biblioteca</a></li>
						<li><a class="dropdown-item" href="#">Anunciar</a></li>
					</ul>
				</div>
			</div>

			<div class="mobile-menu-icon">
				<button onclick="menuShow()">
					<img class="icon" src="/imagens/menu_white.svg" alt="" />
				</button>
			</div>
		</nav>
		<div class="mobile-menu">
			<ul>
				<li class="nav-item"><a href="#" class="nav-link">Perfil</a></li>
				<li class="nav-item">
					<a href="#" class="nav-link">Sua Biblioteca</a>
				</li>
				<li class="nav-item"><a href="#" class="nav-link">Anunciar</a></li>
			</ul>
		</div>
	</header>
	<main>
		<!-- Section de pesquisar -->
		<section>
			<!-- Titulo do Pesquisar -->
			<div class="tituloPesquisar">
				<label for="">Pesquise qualquer produto:</label>
			</div>

			<!-- Pesquisar -->
			<div class="pesquisar">
				<form th:action="@{/usuario/{cpf}/pesquisar (cpf=${cpf})}" method="post">
					<input type="text" placeholder="Pesquisar" name="nomeAnuncio" />
					<input type="submit" value="Pesquisar" />
				</form>
			</div>
		</section>
		<!-- Section de produtos -->
		<section>
			<!-- Titulo do Produto -->
			<div class="tituloProduto">Sua Pesquisa:</div>

			<!-- Produtos -->
			<div class="row row-cols-2 row-cols-md-5 g-4 produto">
				<div class="col" th:each="anuncio: ${anuncios}">
					<div class="card h-100">
						<img src="/imagens/ALIEN.png" class="card-img-top" alt="..." />
						<div class="card-body">
							<h5 class="card-title">
								<span th:text="${anuncio.nomeAnuncio}"></span>
							</h5>
							<p class="card-text">
								<span th:text="${anuncio.valorAnuncio}"></span>
							</p>
							<p class="card-text">
								<span th:text="${anuncio.descAnuncio}"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer></footer>
	<script src="/JS/NavBar.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>