<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/mais-anuncios.css" />
	<link rel="stylesheet" href="/CSS/NewNavBar.css" />
	<title>Ofertas - Pacifier</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="logo navbar-brand" th:href="@{/home/{cpf} (cpf=${cpf})}"><img src="/imagens/pacifier-logo.png"
						alt="" /></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="colorFont nav-link" aria-current="page" th:href="@{/usuario/{cpf}/mais/anuncios (cpf=${cpf})}">Ofertas</a>
						</li>
						<li class="nav-item">
							<a class="colorFont nav-link" th:href="@{/usuario/{cpf}/mais/trocas (cpf=${cpf})}">Trocas</a>
						</li>
						<li class="nav-item">
							<a class="car nav-link" th:href="@{/usuario/{cpf}/carrinho(cpf=${cpf})}"><img
									src="/imagens/CarrinhoCompra.png" alt="" /></a>
						</li>

						<!-- Botão de login -->
						<li class="nav-item">
							<div class="login-button">
								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button"
										data-bs-toggle="dropdown" aria-expanded="false">
										<img src="/imagens/foto_perfil.png" alt="" />
									</button>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" th:href="@{/usuario/{cpf}(cpf=${cpf})}">Perfil</a>
										</li>
										<li>
											<a class="dropdown-item"
												th:href="@{/usuario/{cpf}/biblioteca(cpf=${cpf})}">Sua biblioteca</a>
										</li>
										<li>
											<a class="dropdown-item"
												th:href="@{/usuario/{cpf}/anunciar(cpf=${cpf})}">Anunciar</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>

					<!-- Barra de pesquisa -->
					<form th:action="@{/usuario/{cpf}/pesquisar(cpf=${cpf})}" method="post" class="d-flex"
						role="search">
						<input class="form-control me-2" type="search" name="nomeAnuncio"
							placeholder="Buscar produtos..." aria-label="Search" />

						<!-- Botão de pesquisa -->
						<button class="btn btn-outline-success" type="submit">
							Pesquisar
						</button>
					</form>
				</div>
			</div>
		</nav>
	</header>
	<div class="container-anuncio">
		<div class="row row-cols-2 row-cols-md-5 g-4">
			<div class="col" th:each="anuncio: ${anuncios}" th:object="${anuncio}">
				<a th:href="@{/usuario/{cpf}/produto/{codAnuncio} (cpf=${cpf}, codAnuncio=*{codAnuncio})}"
					style="text-decoration: none; color: inherit;">
					<div class="card h-100">
						<img th:src="*{imagem.url}" class="card-img-top" alt="Imagem do produto" />
						<div class="card-body">
							<h5 class="card-title">
								<span th:text="*{nomeAnuncio}"></span>
							</h5>
							<p class="card-text">
								<span th:text="'R$ ' + *{valorAnuncio}"></span>
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
</body>

</html>