<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/CSS/Tela_Biblioteca.css" />
	<link rel="stylesheet" href="/CSS/NavBar.css" />
	<title>Pacifier</title>
</head>

<body>
	<header>
		<nav class="nav-bar">
			<div class="logo">
				<a href=""><img src="/imagens/Controle.png" alt="" /></a>
			</div>
			<div class="nav-list">
				<ul>
					<li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
					<li class="nav-item">
						<a href="#" class="nav-link">COMUNIDADE</a>
					</li>
					<li class="nav-item"><a href="#" class="nav-link">CONTATO</a></li>
				</ul>
			</div>
			<div class="login-button">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						<img src="/imagens/foto_perfil.png" alt="" />
					</button>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" th:href="@{/usuario/{path}/biblioteca(path=${cpf})}">Sua
								biblioteca</a>
						</li>
						<li><a class="dropdown-item" href="#">Anunciar</a></li>
					</ul>
				</div>
			</div>

			<div class="mobile-menu-icon">
				<button onclick="menuShow()">
					<img class="icon" src="/imagens/menu_white.svg" alt="" />
				</button>
			</div>
		</nav>
		<div class="mobile-menu">
			<ul>
				<li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
				<li class="nav-item"><a href="#" class="nav-link">COMUNIDADE</a></li>
				<li class="nav-item"><a href="#" class="nav-link">CONTATO</a></li>
			</ul>

			<div class="login-button">
				<button><a href="#">Entrar</a></button>
			</div>
		</div>
	</header>

	<main>
		<!-- Container da nav-bar lateral -->
		<div class="nav-lateral">
			<div class="container-button">
				<div class="button">
					<a th:href="@{/usuario/{cpf}(cpf=${cpf})}"><input type="button" value="Geral" class="button" /></a>
					<a href=""><input type="button" value="Preferencias" class="button" /></a>
					<a href=""><input type="button" value="Privacidade" class="button" /></a>
					<a th:href="@{/usuario/{cpf}/anuncios(cpf=${cpf})}"><input type="button" value="Meus Anúncios"
							class="button" /></a>
					<a th:href="@{/usuario/{cpf}/biblioteca(cpf=${cpf})}"><input type="button" value="Biblioteca"
							class="button" /></a>
				</div>
			</div>
		</div>

		<div class="color">
			<!-- Container da biblioteca -->
			<div class="container-biblioteca">
				<br />
				<!-- Div para add cor ao fundo dos jogos -->
				<div class="container-color">
					<!-- Jogos que aparecerão na biblioteca -->
					<section class="container-produto">
						<div class="row row-cols-1 row-cols-md-2 g-4">
							<div th:each="anuncio, iStat : ${anuncio}" class="col">
								<div class="card h-100">
									<img src="/src/main/resources/static/imagens/BannerDoom.png" class="card-img-top"
										alt="..." />
									<div class="card-body">
										<h5 class="card-title">
											<span th:text="${anuncio.nomeAnuncio}"></span>
										</h5>
										<p class="card-text">
											Quantidade:
											<span th:text="${anuncio.quantAnuncio}"></span>
										</p>
										<p class="card-text">
											Valor: R$<span th:text="${anuncio.valorAnuncio}"></span>
										</p>
										<p class="card-text">
											Status: <span th:text="${anuncio.statusAnuncio}"></span>
										</p>
										<a href="#" class="btn btn-primary">Excluir</a>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<!-- Botões de Excluir e Cadastrar -->
				<section class="container-button">
					<!-- Botão de Excluir -->
					<div>
						<label for="#">Excluir anuncio: </label><br />
						<a href=""><button>Excluir</button></a>
					</div>
					<!-- Botão de Cadastrar -->
					<div>
						<form th:action="@{/usuario/{cpf}/anunciar(cpf=${cpf})}" method="get">
							<label for="#">Adicionar anuncio: </label><br />
							<a href=""><button>Adicionar</button></a>
						</form>
					</div>
				</section>
			</div>
		</div>
	</main>
	<footer></footer>
	<script src="/JS/NavBar.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>