<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../CSS/Tela_Inicial.css" />
    <link rel="stylesheet" href="/CSS/NavBar.css">

    <title>Pacifier</title>
  </head>
  <body>
    <header>
      <section>
        <!-- Menu do site -->
              <nav class="nav-bar">
        <div class="logo">
          <a href="home/home"><img src="/imagens/Controle.png" alt=""></a>
        </div>
        <div class="nav-list">
          <ul>
            <li class="nav-item"><a href="#oferta" class="nav-link">OFERTAS</a></li>
            <li class="nav-item"><a href="#" class="nav-link">COMUNIDADE</a></li>
            <li class="nav-item"><a href="#contato" class="nav-link">CONTATO</a></li>
          </ul>
        </div>
        <div class="login-button">
          <button><a href="/usuario/cadastrar">Entrar</a></button>
        </div>

        <div class="mobile-menu-icon">
          <button onclick="menuShow()">
            <img class="icon" src="/imagens/menu_white.svg" alt="" />
          </button>
        </div>
      </nav>
      <div class="mobile-menu">
        <ul>
          <li class="nav-item"><a href="#oferta" class="nav-link">OFERTAS</a></li>
          <li class="nav-item"><a href="#" class="nav-link">COMUNIDADE</a></li>
          <li class="nav-item"><a href="#contato" class="nav-link">CONTATO</a></li>
        </ul>

        <div class="login-button">
          <button><a href="/usuario/cadastrar">Entrar</a></button>
        </div>
      </div>
          <!-- Nome do site -->
          <div class="nameSite">
            <p>Pacifier Store</p>
          </div>
          <!-- Frase  -->
          <div class="frase">
            <p>
              Temos compra, venda, comparação dos preços, trocas de jogos e
              produtos derivados. Além de uma comunidade gamer para uma maior
              interação.
            </p>
          </div>
          <div class="search">
            <form action="#">
              <input
                type="text"
                name="search"
                id="search"
                placeholder="O que procura?"
              />
            </form>
          </div>
        </div>
      </section>
    </header>

    <main>
      <h1 class="titleDes">Destaques e Notícias</h1>

      <div class="carousel">
        <div
          id="carouselExampleControlsNoTouching"
          class="carousel slide"
          data-bs-touch="false"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/imagens/BannerFarCry.png"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/imagens/BannerDoom.png"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/imagens/BannerResident.png"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControlsNoTouching"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControlsNoTouching"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <!-- Titulo oferta -->
      <div class="title" id="oferta">Ofertas</div>
      <!-- Jogos em ofertas -->
      <div class="row row-cols-2 row-cols-md-5 g-4 margin-ofertas">
      <div class="col">
        <div class="card h-100">
      <img src="/imagens/BATTLE V.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Battlefield V</h5>
        <p class="card-text">R$70,00</p>
      </div>
    </div>
      </div>
     <div class="col">
    <div class="card h-100">
      <img src="/imagens/CALL BO.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Call of Duty Black Ops</h5>
        <p class="card-text">R$60,00</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/imagens/CALL WAR.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Call of Duty</h5>
        <p class="card-text">R$52,00</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/imagens/FIFA.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">FIFA</h5>
        <p class="card-text">R$30,00</p>
      </div>
    </div>
  </div>
<div class="col">
    <div class="card h-100">
      <img src="/imagens/OUTLAST.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Outlast</h5>
        <p class="card-text">R$100,00</p>
      </div>
    </div>
  </div>
</div>

      <!-- Titulo lista de jogos -->
      <div class="title">Trocas</div>
      <!-- Lista de jogos -->
      <div class="row row-cols-1 row-cols-md-2 g-4 margin img-list wid">
  <div class="col">
    <div class="card">
      <img src="/imagens/BannerDragon.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Alien Isolation</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card ">
      <img src="/imagens/BannerFar.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Battlefield V</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/imagens/BannerResident.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Call of Duty</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/imagens/BannerDoom.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">GTA V</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/imagens/BannerDoom.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Doom</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/imagens/BannerFarCry.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Far Cry Primal</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>

      <!-- Titulo de serviços -->
      <!-- <div class="title" id="servi">Serviços</div> -->
      <!-- Botões de serviços -->
      <!-- <div class="serv">
        <ul> -->
          <!-- COMPRA -->
          <!-- <li>
            <a href=""><img src="../imagens/COMPRA.jpg" alt="" /></a>
          </li> -->
          <!-- VENDA -->
          <!-- <li>
            <a href=""><img src="../imagens/VENDA.jpg" alt="" /></a>
          </li> -->
          <!-- TROCA -->
          <!-- <li>
            <a href=""><img src="../imagens/TROCA.jpg" alt="" /></a>
          </li>
        </ul> -->
        <!-- COMUNIDADE -->
        <!-- <ul>
          <li>
            <a href=""><img src="../imagens/COMUNIDADE.jpg" alt="" /></a>
          </li>
        </ul>
      </div>
    </main> -->

    <footer>
      <section class="backColor">
        <!-- Roda-pé de contatos -->
        <div class="titleCont" id="contato">Contatos</div>
        <div class="caixaCont">
          <ul>
            <li><img src="" alt="" />Telefone - 0800 4556 3214</li>
            <li><img src="" alt="" />Insta - Pacifier_store</li>
            <li><img src="" alt="" />Facebook - Pacifier Store</li>
          </ul>
          <hr />

          <p>
            © 2022, Pacifier Store, Inc. Todos os direitos reservados. Pacifier,
            Pacifier Store, o logotipo da Pacifier Store, Fortnite, o logotipo
            do Fortnite, Unreal, Unreal Engine, o logotipo do Unreal Engine,
            Unreal Tournament e o logotipo do Unreal Tournament são marcas
            comerciais ou registradas da Pacifier Store, Inc. nos Estados Unidos
            da América e em outros lugares. Outras marcas e nomes de produtos
            são marcas registradas de seus respectivos donos. Transações para
            além dos EUA são feitas através da Pacifier Store International, S.à
            r.l.
          </p>
        </div>
      </section>
    </footer>
    <script src="/JS/NavBar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
